{
  "plugins": ["react"],
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "new-cap": [2, { "capIsNewExceptions": ["List", "Map", "CSSModules"] }],
    "react/jsx-closing-bracket-location": [2, "after-props"]
  },
  "parser": "babel-eslint"
}