.home-form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
  display: block;

  .home-form-title {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 26px;
    color: #000000;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    text-decoration: none;
    font-weight: 100;
  }

  .home-form-input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    resize: none;
  }

  .home-form-button {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    outline:none;
    border: solid 2px darkgrey;
    background-color: #0b97c4;
    padding: 8px 35px 8px 35px;
  }
}